{% extends "stimulus_basic/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="w-full max-w-7xl mx-auto px-4">
    <form method="post" 
        data-controller="form"
        data-action="turbo:submit-start->form#submitStart turbo:submit-end->form#submitEnd">
        {% csrf_token %}
        {{ form|crispy }}
        <button data-form-target="submit" type="submit" class="btn-blue" value="Submit">
            {% include 'stimulus_basic/spinner.html' %}
            Submit
        </button>
    </form>
</div>
{% endblock %}